

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #001D3B;
}


/* --------header section----------- */
header {
  background: #ABD18D;
  /* width: 100%; */
  padding: 0;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

header a {
  color: rgb(226, 226, 226);
  color: #001D3B;
  font-weight: bold;
  font-size: 1rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-left: 1.2em;
  cursor: pointer;
  transition: color 0.2s;
}

#signup {
background: #001D3B;
padding: 7px;
border-radius: 5px;
color: white;
font-weight: 100;
transition: color , background-color 0.2s;
}

#signup:hover {
color: #001D3B;
background: white;
}

header a:hover {
  color: white;
}





/* ---------container section----------- */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  background: #001D3B;
  height: auto;
  /* width: 100%; */
  max-width: 2200px;
  margin-left: auto;
  margin-right: auto;
  /* background: red; */
  /* padding: 10px; */
}



img {
  height: 200px;
  width: 200px;
}
/* man */
.man {
  margin-left: 0;
  width: 350px;
  height: 92.5vh;
  text-align: left;
  position: relative;
}
.man img {
  height: 100%;
  width: 100%;
}
.man .number {
color: #ABD18D;
background: #001D3B;
position: absolute;
width: 30%;
height: 8.5%;
display: flex;
justify-content: center;
align-items: center;
font-size: 2.5rem;
top: 55.9vh;
left: 32.5%;
border: solid red 1.5px;
}

/* presentation */
.presentation {
  background: #001D3B;
  margin-left: 0;
  width: 40%;
  max-width: 500px;
  min-width: 450px;
  height: 76vh;
  position: relative;
  margin-bottom: 100px;
}
.presentation .presentation_photo {
  height: 100%;
  width: 100%;
}

  .text_photo {
    width: 350px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }

  .text_photo img {
    padding-top: 10px;
    width: 100%;
    height: 100%;
  }

.animal img {
  width: 100%;
  height: 100%;
}
/* animal */
.presentation .animal {
  position: absolute;
  width: 35%;
  height: 46%;
  top: 48%;
  /* transform: translateY(-50%); */
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

.presentation .animal img {
}

.fields {
  /* background: red; */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
  margin-right: 50px;
  width: 200px;
  min-width: 110px;
  justify-content: center;
  align-items: flex-start;
}

.fields .block {
  width: 100%;
  height: 50px;
  background: #7EBD3c;
  margin-bottom: 30px;
  border: 1px solid white;
  border-bottom: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
  transition: transform 0.3s;
}

.fields .block:hover {
  transform: scale(1.05);
}
/* -------footer section--------- */

footer {
  background: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 40px;
  padding-left: 0;
  padding-right: 0;
  font-size: 0.8rem;
}

h4 {
  font-size: 1rem;
  letter-spacing: 1px;
  width: 100%;
  cursor: pointer;
}

footer .footer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

footer div div{
  vertical-align: top;
  padding-left:6px;
  padding-right: 3px;
  background: grey;
  max-width: 350px;
  height: auto;
  vertical-align: top;
  /* line-height: 30px; */
  font-family: sans-serif;
  letter-spacing: 0.5px;
  vertical-align: top;
  padding-bottom: 15px;
  margin-bottom: 2px;
  box-shadow: 4px 4px 8px white;
  /* border-radius: 5px; */
}

/* Please create a web page according to my design with 3 images. Please see attachment.
This task requires very good CSS3 skills. I have tried 2 guys, but they did not make it right.

Requirement:
1. Cut the 600 on the left image out and give me a <div> that I can update number dynamically.
2. The menu bar on the top is about 88px height.
3. The page will have a footer, but no matter how tall the footer, the quiz and the menu should takes the full height of a normal computer screen.
4. The design must fit different computer screen resolution, so you should use ratios instead of fixed pixels as much as possible.

You will deliver an HTML file and a CSS file, or an url that I can test resolution etc.

Please ask me any question you might have before you start. */


@media screen and (max-width:1025px){

.man {
  order: 1;
  min-width: 500px;

}

footer .footer div {
  font-size: 1rem;
}
}

@media screen and (max-width:770px) and (min-width:601px){


.man {
  order: 1;
  min-width: auto;
}
}




@media screen and (max-width:600px){
header a {
  font-size: 13px;
}

.presentation {
  min-width: auto;
  width: 100%;
}
.man {
  order: 1;
  min-width: auto;
  width:  100%;
}


}


@media screen and (max-width:541px){
header a {
  font-size: 13px;
}

.text_photo {
  width: 100%;
}
.presentation {
   width: 100%;
}
.man {
    order: 1;
}

footer .footer div {
  font-size: 0.9rem;
}

}

@media screen and (max-width:415px){

  header a {
      font-size: 0.7rem;
  }
  .presentation{
      width: 100%;
  }


}


@media screen and (max-width:376px){
  .presentation {
    min-width: auto;
  }
}




@media screen and (max-width:260px){

  header a {
    font-size: 0.1rem;
  }
  .presentation{ 
    min-width: auto;
  }
  .man {
    min-width: auto;
  }

  .fields  {
    min-width: auto;
  }

  

}